#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export MONO_SHARED_DIR=$(CURDIR)

DEB_CLI_API_VERSION = 1.9

config.status: configure
	dh_testdir
	./configure --prefix=/usr

upstream_version=$(shell uscan --dehs | sed -n 's/.*<upstream-version>\(.*\)<\/upstream-version>.*/\1/p')
get-orig-source::
	uscan --download-version $(upstream_version) --force-download --destdir . \
		  --no-symlink
	tar xvfj mono-basic-$(upstream_version).tar.bz2
	cd mono-basic-$(upstream_version) && rm -f \
		  vbruntime/Test/bin/nunit.framework.dll \
          vbruntime/Test/bin/nunit.core.dll \
		  vbruntime/Test/bin/nunit.util.dll \
		  vbruntime/Test/bin/nunit-console.exe \
		  vbnc/vbnc/tests/Errors/2017-aspnet1.vb
	mv mono-basic-$(upstream_version) mono-basic-$(upstream_version)+dfsg
	tar cfvz mono-basic_$(upstream_version)+dfsg.orig.tar.gz \
		     mono-basic-$(upstream_version)+dfsg
	rm -rf mono-basic-$(upstream_version).tar.bz2 mono-basic-$(upstream_version)+dfsg

build: build-stamp
build-stamp: config.status
	dh_testdir
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf $(MONO_SHARED_DIR)/.wapi
	rm -f build/config.make
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) prefix=$(CURDIR)/debian/tmp/usr install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install -i --list-missing
	dh_installchangelogs -i ChangeLog
	dh_installdocs -i
	dh_installman
	dh_clistrip -i --dbg-package=mono-basic-dbg
	dh_compress
	dh_fixperms -i
	dh_clifixperms -i
	dh_makeclilibs -i -m $(DEB_CLI_API_VERSION)
	dh_installdeb -i
	dh_clideps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
