#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
MAKEFILE = $(firstword $(MAKEFILE_LIST))
DEBIAN_DIR = $(dir $(MAKEFILE))
SOURCE_DIR = $(DEBIAN_DIR)/..

DEB_VERSION = $(shell dpkg-parsechangelog -l$(DEBIAN_DIR)/changelog | grep ^Version | cut -d" " -f2)
DEB_SOURCE_NAME = $(shell dpkg-parsechangelog -l$(DEBIAN_DIR)/changelog | grep ^Source | cut -d" " -f2)
VERSION = $(shell echo $(DEB_VERSION) | cut -d"-" -f1 | sed 's/+dfsg.*//')

export MONO_SHARED_DIR=$(CURDIR)

DEB_CLI_API_VERSION = 2.0

config.status: configure
	dh_testdir
	./configure --prefix=/usr

get-orig-source:
	[ -d ../tarballs ] || mkdir ../tarballs
	uscan \
		--package $(DEB_SOURCE_NAME) \
		--watchfile $(DEBIAN_DIR)/watch \
		--upstream-version $(VERSION) \
		--download-version $(VERSION) \
		--destdir ../tarballs \
		--force-download \
		--rename
	bzcat ../tarballs/$(DEB_SOURCE_NAME)_$(VERSION).orig.tar.bz2 | \
		gzip -9fn -c - > ../tarballs/$(DEB_SOURCE_NAME)_$(VERSION).orig.tar.gz
	rm ../tarballs/$(DEB_SOURCE_NAME)_$(VERSION).orig.tar.bz2


build: build-stamp
build-stamp: config.status
	dh_testdir
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf $(MONO_SHARED_DIR)/.wapi
	rm -f build/config.make
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) prefix=$(CURDIR)/debian/tmp/usr install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install -i --list-missing
	dh_installchangelogs -i ChangeLog
	dh_installdocs -i
	dh_installman
	dh_clistrip -i --dbg-package=mono-basic-dbg
	dh_compress
	dh_fixperms -i
	dh_clifixperms -i
	dh_makeclilibs -i -m $(DEB_CLI_API_VERSION)
	dh_installdeb -i
	dh_clideps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
